/* Main Tags */
a, .burger{
  text-decoration: none;
  color: yellow;
}
a strong{
  text-decoration: underline;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  line-height: 1.4;
  margin: 0;
  background: fixed;
  background-position: center;
}
footer, h1, h2, h3{
  text-align: center;
}
footer div{
  background-image: url("misc/ashiba.gif");
  background-repeat: repeat-x;
  height: 15px;
  margin-bottom: -16px;
}
footer hr{
  max-width: 960px;
}
h1, h2, h3{
  text-shadow: -1px 0 #000, 1px 0 #000, 0 -1px #000, 0 1px #000, -1px 1px #000, 1px 1px #000, 1px -1px #000, -1px -1px #000,
  -2px 0 #000, 2px 0 #000, 0 -2px #000, 0 2px #000, -2px 2px #000, 2px 2px #000, 2px -2px #000, -2px -2px #000,
  -2px 1px #000, 2px 1px #000, 1px -2px #000, 1px 2px #000, -2px -1px #000, 2px -1px #000, -1px -2px #000, -1px 2px #000,
  3px 4px #000, 5px 4px #000, 4px 3px #000, 4px 5px #000, 3px 5px #000, 5px 3px #000, 5px 5px #000, 3px 3px #000;
  font-weight: 900;
  font-style: italic;
}
header{
  overflow: hidden;
  background-image: url("misc/sgba_menu_back.gif");
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  max-width: 100%;
  height: auto;
}
nav{
  width: 0;
  position: fixed;
  z-index: 1;
  top: 78px;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}
nav a, .back, .burger, .download a, .external a, .index a, .multimenus a{
  display: block;
  transition: 0.3s;
  color: white;
  font-weight: bold;
  text-shadow: -1px 0 #000, 1px 0 #000, 0 -1px #000, 0 1px #000, -1px 1px #000, 1px 1px #000, 1px -1px #000, -1px -1px #000,
  1px 2px #000, 3px 2px #000, 2px 1px #000, 2px 3px #000, 1px 3px #000, 3px 1px #000, 3px 3px #000, 1px 1px #000;
}
nav a:hover, .back:hover, .burger:hover, .download a:hover, .external a:hover, .button-active{
  background-color: #5A5910;
}
nav a, .download a, .external a{
  font-size: 20px;
}
nav a, .external a, .multimenus a{
  font-style: italic;
}
nav a{
  min-height: 38px;
  margin-left: 0;
  margin-top: 8px;
  padding-left: 12px;
  display: flex;
  align-items: center;
}
nav a:active{
  background-color: white;
}
nav div{
  background-color: #BDB252;
  box-shadow: 0 0 0 1px black, 0 0 0 3px #9C9418, 0 -34px 0 7px #F7E76B, 0 -34px 0 9px #9C9418, 0 -34px 0 10px black;
  width: 300px;
  height: calc(100vh - 89px);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: 46px;
  padding-top: 1px;
}
nav h2{
  top: -13px;
  position: absolute;
  width: 290px;
}
section{
  margin: auto;
  margin-top: 100px;
  max-width: 960px;
  margin-bottom: 40px;
  min-height:calc(100vh - 170px);
}
strong{
  text-shadow: -1px 0 #000, 1px 0 #000, 0 -1px #000, 0 1px #000, -1px 1px #000, 1px 1px #000, 1px -1px #000, -1px -1px #000;
}
li{
  margin: 20px 0;
}

/* Custom Classes */
.archived{
  max-height: 320px;
}
.block, .block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9{
  padding: 1px 12px 1px 12px;
  margin-top: 20px;
}
.block{
  background-color: rgba(0, 0, 0, 0.5);
}
.block1{
  background-color: rgba(128, 0, 0, 0.8);
}
.block2{
  background-color: rgba(0, 0, 128, 0.8);
}
.block3{
  background-color: rgba(128, 0, 128, 0.8);
}
.block4{
  background-color: rgba(128, 128, 0, 0.8);
}
.block5{
  background-color: rgba(0, 96, 0, 0.8);
}
.block6{
  background-color: rgba(0, 128, 128, 0.8);
}
.block7{
  background-color: rgba(96, 96, 96, 0.8);
}
.block8{
  background-color: rgba(160, 96, 0, 0.8);
}
.back, .burger{
  cursor: pointer;
  left: 6px;
  position: absolute;
  border-radius: 4px;
  height: 48px;
  width: 48px;
  font-size: 32px;
  margin: 10px;
}
.back, .burger, .download a, .external a{
  background-color: #BDB252;
  box-shadow: 0 0 0 1px black, 0 0 0 2px #BDB252, 0 0 0 4px #F7E76B, 0 0 0 5px #BDB252, 0 0 0 6px black;
}
.back, .burger, .download, .download a, .external, .external a, .hints, .index, .index a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-active{
  background-image: url("buttons/ring.gif");
  background-repeat: no-repeat;
  background-position: 8px center;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.download, .external{
  flex-direction: column;
}
.download a{
  width: 250px;
}
.download img{
  max-height: 240px;
  margin-top: 16px;
}
.download a, .external, .external a{
  margin: 10px;
}
.download a, .external a{
  min-height: 38px;
  max-width: 100%;
  border-radius: 25px;
}
.external a{
  width: 500px;
}
.furrican{
  margin-top: 20px;
  margin-bottom: -12px;
}
.gamejolt{
  width: 400px;
  height: 250px;
}
.green{
  color: #00FF00;
}
.hints a{
  padding: 0 3px;
}
.index{
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
}
.index h1{
  background-image: linear-gradient(to right, #00F000, rgba(0, 0, 0, 0));
  width: 100%;
  height: 36px;
}
.index a{
  width: 264px;
  margin: 10px;
}
.itchio{
  width: 586px;
  height: 167px;
}
.logo2{
  top: 10px;
  right: 0;
  position: absolute;
  height: 60px;
  width: auto;
}
.multimenus a{
  height: 50px;
  width: calc(100% - 38px);
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url("buttons/button_on.gif");
  background-repeat: no-repeat;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 24px;
}
.multimenus a:hover{
  background-image: url("buttons/button.gif");
}
.orange{
  color: orange;
}
.question{
  transition: 0.3s;
  color: #A8FF80;
  cursor: pointer;
  list-style-type: symbols()
}
.question:hover{
  color: #FFAD5A;
}
.sonic{
  min-height: 260px;
  background-image: url("misc/sonic.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.spaced{
  padding-left: 32px;
}
.webe{
  background-image: url("buttons/sp_advhp_e.gif");
  height: 100px;
}
.webf{
  background-image: url("buttons/sp_advhp_f.gif");
  height: 58px;
}
.webselect{
  background-image: linear-gradient(to bottom, rgba(255, 255, 0, 80%), rgba(0, 0, 0, 0));
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  min-width: 300px;
  width: 80%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Media Query Classes */
@media (min-width: 1560px){
  nav{
    overflow-x: visible;
    width: 300px;
    transition: 0s;
  }
  .burger{
    display: none;
  }
}

@media (max-width: 600px){
  .logo{
    width: 58%;
  }
  .itchio{
    width: 200px;
    height: 176px;
  }
}

@media (max-width: 400px){
  .external a{
    font-size: 17px;
  }
  .gamejolt{
    width: 250px;
  }
}